Pillow==9.3.0 
pipenv==2022.12.19
platformdirs==2.6.2
pygtrie==2.5.0
sortedcontainers==2.1.0
SQLAlchemy==1.4.46
sqlparse==0.4.3
SudachiDict-core==20221021
SudachiPy==0.5.4
tzdata==2022.7
virtualenv==20.17.1
virtualenv-clone==0.5.7
Werkzeug==2.2.2
